<html>
	<head>
		<title>Match Point</title> 
	</head>
	<body>
		<h1>Match Point</h1>
        <form action="/tablero">
		  <input type="text" name="jugador1"/>
  		  <input type="text" name="jugador2"/>

		  <input type="submit" name="jugar" value="jugar"/>
        </form>
	</body>
</html>

